@use '../../../../../styles/variables' as *;

.projectsContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.25rem;
    width: 100%;
    margin-bottom: 1rem;

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }
}