@use '../../../styles/variables' as *;

.contactSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $primary-color;
    padding: 3rem;

    .subTitle {
        font-size: clamp($font-size-large, 4vw, $font-size-xxlarge);
    }

    .moreInfoContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        max-width: 500px;
        text-align: center;
        font-size: $font-size-normal;
        margin: 1rem;

        p {
            line-height: 23px;
            color: $color-text-secondary;
        }

        .personalData {
            display: flex;
            gap: 1rem;

            a {
                color: $color-text;
            }
        }
    }
}