$primary-color: #F1F0EC;

$color-button: #0D0D0F;
$color-button-secondary: #F9F8F7;
$border-color: #646464;

//Color text
$color-text: #0D0D0F;
$color-text-secondary: #626369;

$color-hover-primary: #ffffff;
$color-hover-secondary: #030303;

$font-family: 'Inter', sans-serif;

$font-size-small: 12px;
$font-size-xsmall: 13px;
$font-size-normal: 14px;
$font-size-medium: 16px;
$font-size-medium-large: 18px;
$font-size-large: 24px;
$font-size-xlarge: 32px;
$font-size-xxlarge: 36px;
$font-size-xxxlarge: 60px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$color-error: #ff4d4f;
$color-success: #52c41a;

$color-instagram: #B453E6;
$color-whatsapp: #25D366;