@use '../../../../../styles/variables' as *;

.categoriesClient {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 1200px;
    padding: 1rem;
    overflow-x: auto;

    h2 {
        font-size: $font-size-large;
        font-weight: $font-weight-bold;
        color: $color-text;
        margin-bottom: 1rem;
    }

    .categoryForm {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .field {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;

            label {
                font-size: $font-size-small;
                letter-spacing: 0.15em;
                font-weight: $font-weight-medium;
                color: $color-text-secondary;
            }

            input {
                width: 100%;
                background: transparent;
                border: none;
                border-bottom: 1px solid $border-color;
                padding: 0.75rem 0;
                font-size: $font-size-medium;
                color: $color-text;
                outline: none;
                transition: border-color .3s ease;
            }
        }

        .adminModalBtn {
            padding: 0.75rem 1.5rem;
            background: $color-button;
            border-radius: 9999px;
            border: none;
            cursor: pointer;
            color: $primary-color;
            transition: all .2s ease;

            &:hover {
                background: $color-whatsapp;
                color: $color-text;
            }
        }
    }
}