@use '../../../../styles/variables' as *;

.editProjectPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    width: 100%;
    min-height: 100dvh;
}