@use '../../../styles/variables' as *;

.clientList {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    margin: 2rem 2rem 2rem 0;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;

    .client {
        flex: 0 0 auto;
        padding: .5rem;
        background-color: $color-button-secondary;
        border: 1px solid rgba($border-color, 0.2);
        cursor: pointer;
        transition: border-color .3s ease-in-out;

        &:hover {
            border-color: $color-hover-secondary;
        }
    }

    .selected {
        background-color: $color-button;
        color: $primary-color;
    }
}