@use '../../../styles/variables' as *;

.heroSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;

    .heroImageReveal {
        overflow: hidden;
        border-radius: 1rem;
    }

    img {
        display: block;
        border-radius: 1rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.295);
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: translateY(-5px);
        }

        @media (max-width: 768px) {
            width: 100%;
            height: auto;
        }
    }

    .heroSectionButton {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5rem;

        .viewButton {
            display: flex;
            align-items: center;
            gap: .5rem;
            background-color: $color-button;
            color: $primary-color;
            border: 1px solid $border-color;
            padding: 0.75rem 1.5rem;
            font-size: $font-size-medium;
            cursor: pointer;
            transition: all .3s ease-in-out;
            text-decoration: none;

            &:hover {
                background-color: $color-hover-primary;
                color: $color-text;
                border-color: $border-color;
            }
        }
    }
}