* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

:root {
  --anchor-offset: 7rem;
}

html {
  scroll-behavior: smooth;
}


#works,
#about,
#process,
#contact {
  scroll-margin-top: var(--anchor-offset);
}

@media (max-width: 768px) {
  :root {
    --anchor-offset: 9rem;
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}