@use '../../../../../styles/variables' as *;

.clientList {
    width: 100%;
    margin-bottom: 1rem;

    .clientTable {
        width: 100%;
        border-collapse: collapse;

        .clientTableHeader {
            border-bottom: 1px solid $border-color;
        }

        .clientTableRow {
            border-bottom: 1px solid $border-color;

            &:last-child {
                border-bottom: none;
            }

            .clientTableCell {
                padding: 0.75rem 1rem;
                text-align: left;
            }
        }

        .actions {
            display: flex;
            gap: 0.5rem;

            .actionBtn {
                border: 1px solid $border-color;
                background: transparent;
                color: $color-text;
                padding: 0.35rem 0.6rem;
                font-size: $font-size-small;
                text-decoration: none;
                cursor: pointer;
            }

            .actionBtn--danger {
                color: $color-error;
                border-color: $color-error;
            }
        }
    }
}