@use '../../../../styles/variables' as *;

.header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 1rem 2rem;
    gap: 4rem;
    background-color: $primary-color;
    z-index: 1000;

    .header-links {
        display: flex;
        gap: 2rem;
    }

.header-link {
    position: relative;
    text-decoration: none;
    color: $color-text-secondary;
    text-align: center;

    &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 1px;
        background-color: $color-hover-secondary;

        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.4s ease;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}

    .name {
        font-family: "DM Serif Display", Georgia, serif;
        font-weight: $font-weight-bold;
        font-size: $font-size-large;
        line-height: 32px;
    }
}