@use '../../../styles/variables' as *;

.footer {
    display: flex;
    justify-content: center;
    padding: 3rem;
    border-top: 1px solid rgba($color-text-secondary, 0.3);

    .footerContent {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        max-width: 1200px;
        gap: 2rem;

        @media (max-width: 768px) {
            justify-content: center;
        }

        .name {
            font-family: "DM Serif Display", Georgia, serif;
            font-weight: $font-weight-bold;
            font-size: $font-size-medium-large;
            line-height: 32px;
        }

        .footerLinks {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;

            p {
                font-size: $font-size-small;
                color: $color-text-secondary;
            }
        }
    }
}