@use '../../../styles/variables' as *;

.links {
    display: flex;
    gap: 2rem;

    .link {
        position: relative;
        text-decoration: none;
        color: $color-text-secondary;
        text-align: center;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: 1px;
            background-color: $color-hover-secondary;

            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.4s ease;
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }

}